
    <section id="my_page_all" class="container content-section text-center">
    <p class='mypage_black_shadow'></p>
    <div class='out_of_headder'>
        <div id='contents_area'class="row">
          <div id="contents_area2" class="col-4">
             <div class="left_myapage">
             </div>
             <div id="contents_area3" class="col-7">
               <div class="right_mypage">
                    <p>soccer</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>















<!-- <div id="my_page_all" >
 <p class='mypage_black_shadow'></p>
  <div id="to_center" >
    <div class="left_contents">
         <p class='mypage_black_shadow2'></p>
         <p class="mypage_a"><%= @user.family_name %></p>
    </div>
    <div class="right_contents"></div>
  </div>
</div> -->