

<div class="reserved">
<%= @schedule.date %>
</div>
<table class="demo02">
<thead>
  <tr>
    <th>08:00</br><% if  @schedule.t8  == 1 then %>○<% else %>×<% end %></th>
    <th>09:00</br><% if  @schedule.t9  == 1 then %>○<% else %>×<% end %></th>
    <th>11:00</br><% if  @schedule.t11  == 1 then %>○<% else %>×<% end %></th>
    <th>12:00</br><% if  @schedule.t12  == 1 then %>○<% else %>×<% end %></th>
    <th>13:00</br><% if  @schedule.t13  == 1 then %>○<% else %>×<% end %></th>
    <th>14:00</br><% if  @schedule.t14  == 1 then %>○<% else %>×<% end %></th>
    <th>15:00</br><% if  @schedule.t15  == 1 then %>○<% else %>×<% end %></th>
    <th>16:00</br><% if  @schedule.t16  == 1 then %>○<% else %>×<% end %></th>
    <th>17:00</br><% if  @schedule.t17  == 1 then %>○<% else %>×<% end %></th>
    <th>18:00</br><% if  @schedule.t18  == 1 then %>○<% else %>×<% end %></th>
    <th>19:00</br><% if  @schedule.t19  == 1 then %>○<% else %>×<% end %></th>
    <th>20:00</br><% if  @schedule.t20  == 1 then %>○<% else %>×<% end %></th>
    <th>21:00</br><% if  @schedule.t21  == 1 then %>○<% else %>×<% end %></th>
    <th>22:00</br><% if  @schedule.t22  == 1 then %>○<% else %>×<% end %></th>
    <th>23:00</br><% if  @schedule.t23  == 1 then %>○<% else %>×<% end %></th>

  </tr>
  </thead>
</table>


