.title_panna{
  font-size: 30px;
}

.navbar-header .red{
  color:red;
}


.intro{
  background-image: url('main.jpg');
  background-position: center;
}

#moji li a{
  color: white;
}

#moji_white{
  color: white;
}


#space {
  color: white;
}

#massage{
  padding-top: 90px;
  height:400px;
}



#style {

  padding: 0;
  width:100%;
  display: inline-block;
  margin: 0 auto;
}

#style2 {
  padding-top: 80px;
  margin:0;
  width:100%;
  display: inline-block;
}
.style2:after{
  content: "";
  clear: both;
  display: block;
  height:100%;
}



.right_contents_massage{
  display: inline-block;
  height: 350px;
  width:50%;
  margin:0 auto;
  text-align: center;
}

.rightmassage{
  margin-top: 20px;
}



#under_contents{
  width:100%;
  background: black;
}