.login_title p{color:white;
               font-size: 20px;
               text-align: center;
 }

html, body {
  margin: 0;
  width:100%;
  height: 100%
}



.all_area {
  background-position: top;
  height: 100%;
  width: 100%;
  background-image: url('log.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1200px;
  }

.title {
  width: 300px;
  margin: 0;
  text-align: center;
  color:white;
  padding-left: 70%;
   h2 {padding-top: 20px;
   font-size: 30px;
   margin: 0;
   }
  }



.inner_block{
  height: 220px;
  width: 300px;
  margin: 0;
  display: block;
  padding-left: 70%;
}


.login_title{
  text-align: center;
}

.waku{
  padding-top:10px;
  padding-left: 4%;
  border: 1px solid #FFFFFF;
  height:210px;
  width: 300px;
  margin: 0;
}

// .field{color:white;}

.pass {
  width: 80%;
  text-height:20px;
}


.field_with_errors{
  display: inline;
}






#my_page_all {
  background-size: cover;
  background-image: url('mypage.jpg');
  background-position: center;
  height: 100%;
  min-width: 100%;
  position: relative;
  z-index: 0;
  padding: 0;
  height: 2000px;
  background-repeat: repeat-y;
  }

  .mypage_black_shadow {
  height:100%;
  width: 100%;
  position: absolute;
  color:#DC143C;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  margin: 0
}

.out_of_headder{
  padding-top: 40px;
  height: 100%;

}

#contents_area{
  width:100%;
  // height: 100%;

}






.left_myapage{
  margin: 0 auto;
  width:400px;
  color: white;
  z-index: 2;
  background-color: black;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  position: relative;
  // float: left;
  margin-top:70px;
  vertical-align: center;
  text-align: center;

  h4{
    padding-top: 30px;
    }
}

.image{
  height: 150px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}

.prof_contents{
  margin: 5%;
  padding-left: 70px;
  p{font-size: 20px;}
}

.birth{
  margin:5%;
  p{
  text-decoration: underline;
  float: left;
  margin: 0;
  margin: 0 auto;
 }

}

.birth:after{
  content: "";
  clear: both;
  display: block;
  height:100%;
}


.fav{
  margin:5%;
  p{
    text-decoration: underline;
  float: left;
  margin: 0;
  margin: 0 auto;
 }

}

.fav:after{
  content: "";
  clear: both;
  display: block;
  height:100%;
}

.massage{
  margin:5%;
  p{
  text-decoration: underline;
  float: left;
  margin: 0;
  margin: 0 auto;
 }
}


.massage:after{
  content: "";
  clear: both;
  display: block;
  height:100%;
}

.profile_edit{
  position: relative;
  z-index: 2;
  padding: 5%;
}

.left_under{
  height: 60px;
  width: 60px;
  background: red;
  float: left;
}





.right_mypage{
  width: 70%;
  color: white;
  margin: 0 auto;
  // min-width: 512px;
  // background-color: red;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  position: relative;
  margin-top: 50px;
  margin-bottom: 5%;
  // margin-left: 5%;
  // float: left;
  padding-top: 20px;
  p{font-size: 30px;}
  .court{text-align: left;
    display: inline-block;
    p{margin: 0;
      display: inline-block;}}
      .court2{text-align: left;
    display: inline-block;
    p{margin: 0;
      display: inline-block;
      }}
  }


.time_table{text-align: center;}


.month{
 display: inline-block;
 padding-left: 3%;
 font-size: 15px;
}




.demo02{
  line-height: 20px;
  font-size: 25px;
  th{border: 1px white solid;width:auto;font-size: 14px;max-width: 800px;}
}
@media only screen and (max-width: 1100px) {
    .demo02 {display: block;text-align: center;}
    .demo02 thead{display: inline-block; float: left; overflow-x:scroll;}
    .demo02 th{border: 1px white solid;display: block;width:auto;float: left;padding: 1%;}
}









.form-group{
  text-align: left;
   font-size: 30px;
   display: inline;
   line-height: 60px;
}


.attend_date{
  height: 600px;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
 position:relative;
  z-index: 2;
  color: white;
  text-align: center;
  p{
    padding-top: 20px;
    font-size: 30px;
    margin: 0;
  }
}


.attendance_contents{
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
}

.attend_minami{
  text-align: left;
  margin-top:20px;
  float: left;
  z-index: 3;
  padding-left: 60px;
  p{
    line-height: 30px;
    font-size: 20px;
  }
  a{color: white;
    font-size: 15px;}
}


.attend_minami:after{
  content: "";
  clear: both;
  display: block;
  height:100%;
}

.attend_yoko{
  float: right;
  margin-top: 20px;
  text-align: left;
  padding-right: 60px;
  p{
    line-height: 30px;
    font-size: 20px;
  }
  a{color: white;
    font-size: 15px;}
}



// edit

#edit_page_all {
  background-size: cover;
  background-image: url('mypage.jpg');
  background-position: center;
  height: 100%;
  min-width: 100%;
  position: relative;
  z-index: 0;
  padding: 0;
  // min-width: 1024px;
  }

.edit_area{
  width:1200px;
  height: 600px;
}

.edit_contents{
  width:70%;
  margin: 0 auto;
}

.edit_all_area{
  margin-top: 100px;
  h2{padding-top: 5%;}
}



.hennsyuu{
  margin-top: 100px;
}






