<% unless params[:controller] == 'devise/registrations' || params[:controller] == 'devise/sessions' || params[:controller] == 'devise/passwords' %>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top"> -->
                <%= link_to root_path  do %>
                    <div class="navbar-brand page-scroll" href="#page-top">
                     <i class="title_panna">PANN<span class="red">A.</span>P</i>
                    </div>
                <% end %>
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav", id="moji">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#massage">massage</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#now">now</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#style">style</a>
                    </li>
                    <li>
                        <%= link_to "mypage", user_path(current_user), id:"space" %>
                    </li>
                    <li>
                        <a class="">member</a>
                    </li>
                    <li>
                        <%= link_to "logout", destroy_user_session_path, method: :delete, id:"moji_white"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<% end %>